<mat-expansion-panel class="activity-panel mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title class="activity-panel-title-container">
      <div class="activity-panel-title">
        <div
          class="activity-panel-icon"
          [style.background]="
            setActivityBackground(activity.gsx$activitytype.$t)
          "
        >
          <p>{{ setActivityIcon(activity.gsx$activitytype.$t) }}</p>
        </div>

        <div class="activity-panel-title-block">
          {{
            isEnglish()
              ? activity.gsx$activitytitleen.$t
              : activity.gsx$activitytitleru.$t
          }}
          <div class="activity-panel-subtitle" *ngIf="!checkIfDone(activity)">
            <span>
              <mat-icon>access_time</mat-icon>
              {{ activity.gsx$activitytime.$t }}{{ translate("min") }}
            </span>
            <span>
              <mat-icon> show_chart</mat-icon>
              {{ activity.gsx$activityscore.$t }}%
            </span>
          </div>

          <div
            class="activity-panel-subtitle-done"
            *ngIf="checkIfDone(activity)"
          >
            <mat-icon>check_circle_outline</mat-icon>
            {{ translate("completed") }}
          </div>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p class="activity-panel-description">
    {{
      isEnglish()
        ? activity.gsx$activitydescriptionen.$t
        : activity.gsx$activitydescriptionru.$t
    }}
  </p>

  <button
    class="activity-panel-done"
    (click)="markAsDone(activity)"
    *ngIf="!checkIfDone(activity) && selectedDate === currentDate"
  >
    <p>
      <mat-icon>check_circle_outline</mat-icon>
      {{ translate("activity_done") | uppercase }}
    </p>
  </button>
</mat-expansion-panel>
