.activities-list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #1f244b;
  margin-bottom: 1em;
  span {
    color: red;
  }
}

.activities-list-completed-title {
  margin-bottom: 16px;
  margin-top: 24px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #8d8d8d;
  span {
    color: red;
  }
}

.activities-container {
  padding: 1em;
  position: relative;
  top: -50vw;
}

.completed-all-title,
.next-day-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  color: #1f244b;
}

.completed-all-subtitle,
.next-day-subtitle {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1f244b;
  margin-top: 1em;
  margin-bottom: 2em;
}

.next-day-subtitle {
  opacity: 0.7;
}

.next-day-button {
  color: #5f657f;
  border: 1px solid #5f657f;
  border-radius: 10px;
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin: 1em auto;
  display: flex;
  background: transparent;
}
