.activities-list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #1f244b;
  margin-bottom: 1em;
  span {
    color: red;
  }
}

.activities-list-completed-title {
  margin-bottom: 1em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #8d8d8d;
  span {
    color: red;
  }
}

.activities-container {
  position: relative;
  margin-bottom: 100px;
  padding: 1em;
}

.move-bottom {
  animation: moveBottom 0.3s linear;
}

.move-top {
  animation: moveTop 0.3s linear;
}

@keyframes moveTop {
  0% {
    top: var(--headerHeight);
  }
  100% {
    top: 120px;
  }
}

@keyframes moveBottom {
  0% {
    top: 120px;
  }
  100% {
    top: (--headerHeight);
  }
}

.completed-all-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  color: #1f244b;
}

.completed-all-subtitle {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1f244b;
  margin-top: 1em;
  margin-bottom: 2em;
}
