<ng-container *ngIf="vm$ | async as vm">
  <div
    id="activitiesList"
    class="activities-container"
    [style.top]="expanded ? headerHeight : '90px'"
    [class]="expanded ? 'move-bottom ' : 'move-top '"
  >
    <ng-container *ngIf="vm.selectedDate === currentDate">
      <div class="activities-list-title" *ngIf="vm.undoneActivities.length">
        {{ translate("jobs_for_today") }}
        <span>
          {{ vm.undoneActivities?.length }}
        </span>
      </div>

      <div class="completed-all-title" *ngIf="!vm.undoneActivities.length">
        {{ translate("completed_all_title") }}
      </div>

      <div class="completed-all-subtitle" *ngIf="!vm.undoneActivities.length">
        {{ translate("completed_all_subtitle") }}
      </div>

      <div>
        <app-activity
          *ngFor="let activity of vm.undoneActivities"
          [activity]="activity"
        ></app-activity>
      </div>
    </ng-container>

    <div
      class="activities-list-completed-title"
      *ngIf="vm.doneActivities.length"
    >
      {{ translate("completed") }}
      <span>
        {{ vm.doneActivities?.length }}
      </span>
    </div>
    <div
      class="completed-all-subtitle"
      *ngIf="
        !vm.doneActivities.length &&
        vm.selectedDate !== currentDate &&
        vm.selectedDate !== nextDate
      "
    >
      {{ translate("completed_past_zero") }}
    </div>

    <div *ngIf="vm.selectedDate === nextDate">
      <div class="next-day-title">
        {{ translate("next_day_info_title") }}
      </div>

      <div class="next-day-subtitle">
        {{ translate("next_day_info_subtitle") }}
      </div>

      <button class="next-day-button" (click)="handleGoToTodayButtonClick()">
        {{ translate("next_day_go_today") }}
      </button>
    </div>

    <div>
      <app-activity
        *ngFor="let activity of vm.doneActivities"
        [activity]="activity"
      ></app-activity>
    </div>
  </div>
</ng-container>
