<ng-container *ngIf="vm$ | async as vm">
  <div
    class="header-container"
    (click)="handleHeaderStateChanges(vm.headerState)"
    [class]="
      vm.headerState ? 'expanded-header-title' : 'collapsed-header-title'
    "
  >
    <div class="header-title">
      <div *ngIf="!vm.headerState" class="header-collapsed" [@inOutAnimation]>
        <div class="header-title-bg"></div>
        <div class="header-title-bg2"></div>
        <div class="header-collapsed-title">
          {{ getCurrentDateTitle(vm.selectedDate) }}
        </div>
        <div class="collapsed-chart">
          <app-chart [expanded]="false"></app-chart>
        </div>
      </div>

      <div *ngIf="vm.headerState" class="header-calendar" [@inOutAnimation]>
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</ng-container>
