<ng-container *ngIf="vm$ | async as vm">
  <div (click)="handleHeaderStateChanges(vm.headerState)">
    <div
      class="header-title"
      [class]="
        !vm.headerState ? 'collapsed-header-title' : 'expanded-header-title'
      "
      [style.borderBottom]="vm.headerState ? '' : '3px solid #23ca96'"
      [style.background]="vm.headerState ? '' : '#dcf0ef'"
    >
      <ng-container *ngIf="!vm.headerState; else expanded">
        <div class="header-title-bg"></div>
        <div class="header-title-bg2"></div>

        <div class="header-date">
          {{ getCurrentDateTitle(vm.selectedDate) }}
        </div>
        <div class="collapsed-chart">
          <app-chart [expanded]="false"></app-chart>
        </div>
      </ng-container>
      <ng-template #expanded> <app-calendar></app-calendar> </ng-template>
    </div>
  </div>

  <div class="accordion">
    <div [@expansion]="!vm.headerState">
      <div class="expanded-content-container" [@expansion]="!vm.headerState">
        <div class="content-bg"></div>
        <div class="expanded-title" *ngIf="triggerDayChange" [@inOutAnimation]>
          {{ translate(vm.welcomeTitle) }}
        </div>
        <div class="expanded-content container">
          <app-chart [expanded]="true"></app-chart>
          <div *ngIf="triggerDayChange" [@inOutAnimation]>
            <img
              loading="lazy"
              *ngIf="currentDate === vm.selectedDate && !vm.isScoreMax"
              src="./assets/header_img_1.png"
              alt=""
            />

            <img
              loading="lazy"
              *ngIf="
                currentDate !== vm.selectedDate && vm.selectedDate !== nextDate
              "
              src="./assets/header_day_completed.png"
              alt=""
            />

            <img
              loading="lazy"
              *ngIf="vm.isScoreMax"
              src="./assets/header_great_job.png"
              alt=""
            />

            <img
              loading="lazy"
              *ngIf="vm.selectedDate === nextDate"
              src="./assets/header_img_next_day.png"
              alt=""
            />
          </div>
        </div>
        <div
          class="background-rectangle"
          [class.background-rectangle-orange]="
            currentDate !== vm.selectedDate && vm.selectedDate !== nextDate
          "
          [class.background-rectangle-green]="currentDate === vm.selectedDate"
          [class.background-rectangle-blue]="nextDate === vm.selectedDate"
        ></div>
      </div>
    </div>
  </div>
</ng-container>
