<div class="tutorial-container">
  <div class="tutorial-text-container container">
    <p class="tutorial-title">{{ translate("tutorial_title_1") }}</p>
    <p class="tutorial-subtitle">{{ translate("tutorial_subtitle_1") }}</p>
  </div>

  <div class="tutorial-bottom-container tutorial-bottom-container-one">
    <div class="tutorial-stepper">
      <div class="active"></div>
      <div></div>
      <div></div>
    </div>
    <button class="btn-tutorial" (click)="toNextTutorialPage()">
      {{ translate("tutorial_button_1") }}
    </button>
  </div>
</div>
