<div class="calendar-title">{{ currentMonth }}</div>
<div class="calendar-container">
  <div
    (click)="openSelectedDate(date)"
    class="calendar-item"
    [class.highlight-past-day]="highlightPastDay(date)"
    [class.highlight-current-day]="highlightCurrentDay(date)"
    [class.highlight-selected-current-day]="highlightSelectedCurrentDay(date)"
    [class.disable-future-days]="disableFutureDays(date)"
    *ngFor="let date of weekCalendar"
  >
    <div class="calendar-item-day">
      {{ getDay(date) }}
    </div>
    <div class="calendar-item-dayname">
      {{ getDayName(date) }}
    </div>
  </div>
</div>
